.songs {
  padding: 2rem 3.5rem;
  gap: 1rem;
}

.songs-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.songs-preview__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2rem;
}

.songs-preview__search {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.songs-preview__search-field {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 25vw;
  max-width: 420px;
  min-width: 240px;
  background: #ffffff;
  border: 1px solid #d1d1d6;
  border-radius: 50rem;
  padding: 0.05rem 0.85rem;
}

.songs-preview__search-field button {
  width: 40px;
  cursor: pointer;
  height: 40px;
  margin: .25rem 0;
  border-radius: 50%;
  background: #9357e8;
  padding: 0.6rem;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-self: center;

  img {
    scale: .8;
  }
}

.songs-preview__search-field input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #212121;
  background: transparent;
  width: 90%;
}

.songs-preview__sort {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  min-width: 200px;
}
